<div class="container pt-5"> 
 
  <div class="row">
      <div class="col-sm-6 mb-3 text-center">
      <div class="card border-danger">
        <div class="card-body text-danger">
          <h2 class="card-title">You played scissors!</h2>
          <p class="card-text">
              <i class="far fa-hand-paper fa-10x"></i>
          </p>
        </div>
      </div>
    </div>
  
      <div class="col-sm-6 mb-3 text-center">
      <div class="card border-danger">
        <div class="card-body text-danger">
          <h2 class="card-title">They played <%= @computer_move %>!</h2>
          <p class="card-text">
              <i class="far fa-hand-paper fa-10x"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="text-center">
      <div class="col-md-12">
        <div class="alert alert-dismissible alert-danger">
          <h2 class="display-3">
            We <%= @outcome%>!
          </h2>
        </div>
      </div>
    </div>
  </div>
   
   <div class="row text-center">
    <div class="col-md-12">
      <a href="/">
        Rules
      </a>
    </div>
  </div>
</div>
  
  
</div>